#screen {
  font-size: 2.5vw;
}

#screen ul li {
  font-size: 2.75vw;
  padding: 1.25vw;
}

#screen .wave {
  height: 15vh;
}

#screen .page {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 15vh;
}
