#controller {
  overflow: auto;
}

#controller .wave {
  height: 10%;
}

#controller .page {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10vh;
}

#controller ul button {
  padding: 15px;
  font-size: 24px;
  animation: none;
  top: 2px;
  box-shadow: 0px 8px 0px #B83100, 0px 8px 16px rgba(0, 0, 0, .35);
}

#controller ul button:hover {
  background-color: #FF4B0A;
  top: 0px !important;
  box-shadow: 0px 10px 0px #B83100, 0px 10px 20px rgba(0, 0, 0, .35);
  animation: none;
}

#controller ul button:active {
  top: 8px !important;
  box-shadow: 0px 2px 0px #B83100, 0px 2px 4px rgba(0, 0, 0, .7) !important;
  animation: none;
}